.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 40px 45px;
  width: 300px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
  transition-delay: 0.15s;
  overflow-x: hidden;
  /* background-color: #f7f7f7; */
  z-index: 1;
}

.category::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: all 0.25s ease;
  transform: translate(100%, 0);
  z-index: -1;
}

.category > .category__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category > .category__title > * {
  transition: all 0.5s ease;
}

.category > .category__title > .category__title-icon {
  font-size: 45px;
}

.category > .category__title > .category__title-text {
  margin-top: 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  font-weight: 400;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.category > .category__description {
  margin-top: 5px;
  margin-bottom: 30px;
  width: 180px;
}

.category > .category__description > .category__description-text {
  text-align: center;
  font-size: 13px;
  font-weight: 200;
  line-height: 1.5;
}

.category > .category__link > .category__link-btn {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  transition: 0.5s ease;
}

/* HOVER PROCESS */
.category:hover {
  box-shadow: 0 0.1429rem 0.6429rem 0.07143rem rgb(1 2 2 / 10%);
}

.category > .category__link:hover > .category__link-btn {
}

.category:hover > .category__title > * {
}

.category:hover::before {
  transform: translate(0%);
}

@media only screen and (max-width: 46.1875em) {
  .category {
    width: 330px;
    padding: 20px 40px;
  }
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9365em) {
  .category {
    width: 330px;
  }
}
