.testimonial {
  padding: 12rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.testimonial .testimonial__wrapper {
  width: 50vw;
}
.testimonial .testimonial__heading{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial .testimonial__heading .testimonial__heading-subtitle{
  letter-spacing: .2em;
  font-weight: 300;
}
.testimonial .testimonial__heading .testimonial__heading-title{
  letter-spacing: .2em;

}
.testimonial .testimonial__heading .testimonial__heading-des{
  font-style: italic;
  margin-bottom: 1.5em;
}
.testimonial .testimonial__heading .testimonial__heading-divider{
  width: 10rem;
}
.testimonial .testimonial__card {
  height: fit-content;
}
.testimonial .testimonial__card .swiper-slide-shadow-left,
.testimonial .testimonial__card .swiper-slide-shadow-right {
  display: none;
}
.testimonial .testimonial__card .testimonial__card-content {
  margin-right: -110%;
  margin-left: -110%;
}
.testimonial .testimonial__card .testimonial__card-image {
  object-fit: cover;
  object-position: center;
  margin: 0 3.5rem;
  margin-bottom: 4rem;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
}
.testimonial
  .testimonial__card.swiper-slide-active
  .testimonial__card-content
  .content__name {
  white-space: nowrap;
  font-weight: 300;
  font-size: clamp(2.4rem, 3vw, 4.8rem);
  /* font-size: 4.8rem; */
  color: #5645ff;
}
.testimonial
  .testimonial__card.swiper-slide-active
  .testimonial__card-content
  .content__pos {
  font-weight: 400;
  font-size: clamp(1.2rem, 3vw, 1.37rem);
}
.testimonial
  .testimonial__card.swiper-slide-active
  .testimonial__card-content
  .content__des {
  font-weight: 400;
  font-size: clamp(1.2rem, 3vw, 1.37rem);

  padding: 0 10rem;
}
/* Style for item not ativated */
.testimonial
  .testimonial__card
  .testimonial__card-content:not(
    .testimonial
      .testimonial__card.swiper-slide-active
      .testimonial__card-content
  ) {
  display: none;
}

.testimonial
  .testimonial__card
  .testimonial__card-image:not(
    .testimonial .testimonial__card.swiper-slide-active .testimonial__card-image
  ) {
  transform: scale(0.8);
}
/* Style for item activated */

.testimonial .testimonial__card.swiper-slide-active .testimonial__card-image {
  transition: transform 0.2s ease-in;
  transform: scale(1);
}

@media only screen and (max-width: 1025px) {
   .testimonial
    .testimonial__card.swiper-slide-active
    .testimonial__card-content
    .content__des {
    padding: 0 5rem;
  }
  .testimonial .testimonial__wrapper {
    width: 100%;
  }
}
@media only screen and (max-width: 426px) {
  .testimonial .testimonial__card .testimonial__card-content {
    margin-right: 0;
    margin-left: 0;
  }
   .testimonial
    .testimonial__card.swiper-slide-active
    .testimonial__card-content
    .content__des {
    padding: 0 1rem;
  }
}
