.banner {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-origin: content-box;
  background-size: cover;
}
.banner::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.7);
}
.banner .banner__wrapper {
  position: relative;
  height: auto;
  min-height: 30rem;
  /*max-height: 50rem; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 5rem 2rem;
  margin-top: auto;
  margin-bottom: auto;
}
.banner .banner__background {
  position: absolute;
  top: 0;
  left: 0;
}

.banner .banner__title {
  color: #ffffff;
  font-size: clamp(3rem, 3vw, 5.4rem);
}
.banner .banner__content {
  color: #ffffff;
  max-width: 70rem;
  text-align: justify;
  font-size: clamp(1.2rem, 3vw, 1.375rem);
}
@media only screen and (min-width: 768px) {
  .banner .banner__wrapper {
    min-height: 50rem;
    padding: 5rem 10rem;
  }
}
@media only screen and (min-width: 1024px) {
  .banner .banner__wrapper {
    text-align: start;
    padding: 5rem 30rem;
  }
}
